---
- name: Update cache
  pacman:
    update_cache: yes
  when: ansible_facts['distribution'] == "Archlinux"
  tags:
  - update

- name: Install VirtualBox
  package:
    state: present
    name:
    - "virtualbox"
    - "virtualbox-host-modules-arch"
  when: ansible_facts['distribution'] == "Archlinux"
  tags:
  - packages

- name: Reload virtualbox modules
  command: vboxreload
  when: ansible_facts['distribution'] == "Archlinux"

    #- name: Start NFS client
    #  service:
    #    name: nfs-client.target
    #    state: started
    #    enabled: yes
