---
- name: Install NTP ArchLinux
  package:
    state: present
    name:
    - "ntp"
  when: ansible_distribution == "Archlinux"

- name: Install NTP Debian
  package:
    state: present
    name:
    - "openntpd"
  when: ansible_facts['os_family'] == "Debian"

- name: Set the NTP config ArchLinux
  copy:
    content: |
      server 0.europe.pool.ntp.org iburst
      server 1.europe.pool.ntp.org iburst
      server 2.europe.pool.ntp.org iburst
      server 3.europe.pool.ntp.org iburst
      restrict default kod limited nomodify nopeer noquery notrap
      restrict 127.0.0.1
      restrict ::1
      driftfile /var/lib/ntp/ntp.drift
    dest: /etc/ntp.conf
  notify: restart ntpd archlinux
  when: ansible_distribution == "Archlinux"

- name: Set the NTP config Debian
  copy:
    content: |
      server 0.europe.pool.ntp.org
      server 1.europe.pool.ntp.org
      server 2.europe.pool.ntp.org
      server 3.europe.pool.ntp.org
    dest: /etc/openntpd/ntpd.conf
  notify: restart ntpd debian
  when: ansible_facts['os_family'] == "Debian"

- name: Start and enable the NTP daemon
  service:
    name: ntpd
    state: started
    enabled: yes
  when: ansible_distribution == "Archlinux"

- name: Start and enable the NTP daemon
  service:
    name: openntpd
    state: started
    enabled: yes
  when: ansible_facts['os_family'] == "Debian"
