---
- name: Install NFS Server Arch
  package:
    state: present
    name:
    - "nfs-utils"
  when: ansible_facts['distribution'] == "Archlinux"
  tags:
  - share

- name: Install NFS Server Debian
  package:
    state: present
    name:
    - "nfs-common"
    - "nfs-kernel-server"
  when: ansible_facts['os_family'] == "Debian"
  tags:
  - share

- name: Create NFS share directories
  file:
    state: directory
    path: "{{ item.path }}"
    mode: "{{ item.mode | default('777') }}"
    owner: "{{ item.owner | default('jiri') }}"
    group: "{{ item.group | default('jiri') }}"
  loop: "{{ nfs.shares }}"
  tags:
  - share

- name: Define NFS exports
  template:
    src: exports.nfs.j2
    dest: /etc/exports
  register: nfs_exports
  tags:
  - share

- name: Export NFS exports
  command: exportfs -rav
  when: nfs_exports.changed == 1
  tags:
  - share

- name: Enable and start the NFS server
  service:
    name: nfs-server
    state: started
    enabled: yes
  tags:
  - share
